<!-- post-area.component.html -->
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let column of columns" [ngClass]="{'checkbox': column === 'Select'}">
                    {{ column }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of listOfShoes" >
                <td class="checkbox"><input type="checkbox"></td>
                <td><img [src]="post?.picture" width="200" height="100"></td>
                <td>{{ post?.name }}</td>
                <td>₱{{ post?.price }}</td>
                <td>
                    <button class="btn btn-primary">Modify</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
